.mainFrame {
    margin-top: 20%;
    height: 100vh;
    width: 100%;
}

.navSection {
    background-color: darkblue;
    padding: 16px;
  }
  
  .navSection nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
  .navSection a {
    text-decoration: none;
    color: inherit;
  }
  
  .navSection ul {
    list-style-type: none;
    display: flex;
  }
  
  .navSection li {
    margin-left: 20px;
  }
  

  .content {
    padding: 20px;
    margin-top: 70px;
    /* Adjust based on your navbar height */
  }
  
  .search,
  .menu {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search::before {
    content: '🔍';
    /* Add your search icon here */
    margin-right: 5px;
  }
  
  .menu::before {
    content: '☰';
    /* Add your menu icon here */
    margin-right: 5px;
  }
  
  